<div class="text-center">
  <div class="form-signin w-100 m-auto">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h2 class="h3 mb-3 fw-normal">Log in</h2>
    <div class="form-floating">
      <%= f.label :email, for:"floatingInput" %>
      <%= f.email_field :email, class:"form-control", id:"floatingInput" %>
    </div>

    <div class="form-floating">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-check mb-3">
        <%= f.check_box :remember_me %>
        <%= f.label :状態を記憶する %>
      </div>
    <% end %>

    <div>
      <%= f.submit "Log in", class:"mt-5 mb-3 text-muted" %>
    </div>
  <% end %>

  <%= render "public/driver/shared/links" %>
  </div>
</div>