  <div class="row">
    <div class="col-2">
      <%= link_to "履歴一覧へ", contacts_path %>
    </div>
    <div class="col-2">
      <% if @contact.status != "fixed" %>
        <%= link_to "編集する", edit_contact_path(@contact.id) %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">カテゴリー</th>
            <td><%= @contact.category_i18n %></td>
          </tr>
          <tr>
            <th scope="row">対応状況</th>
            <td><%= @contact.status_i18n %></td>
          </tr>
          <tr>
            <th scope="row">お問い合わせ内容</th>
            <td><%= @contact.text %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>