<%= render 'layouts/error', model: @transport_company %>
<%= form_with model: @transport_company, url: transport_company_path(@transport_company.id), local:true, method: :patch do |f| %>

  <div class="row mb-5">
    <div class="col-5"></div>
    <div>
      <h5 style="background-color:#f4f4f4">　運送会社情報編集　</h5>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-3"></div>
    <div class="col-2">
      <div><%= f.label :プロフィール画像 %></div>
    </div>
    <div class="col-2">
      <div><%= f.file_field :profile_image, accept: "image/*", autofocus: true %></div>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-3"></div>
    <div class="col-2">
      <div><%= f.label :会社名 %></div>
    </div>
    <div class="col-2">
      <div><%= f.text_field :name, autofocus: true %></div>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-3"></div>
    <div class="col-2">
      <div><%= f.label :郵便番号 %></div>
    </div>
    <div class="col-2">
      <div><%= f.text_field :postal_code, autofocus: true %></div>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-3"></div>
    <div class="col-2">
      <div><%= f.label :住所 %></div>
    </div>
    <div class="col-7">
      <div><%= f.text_field :address, autofocus: true, size:60  %></div>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-3"></div>
    <div class="col-2">
      <div><%= f.label :電話番号 %></div>
    </div>
    <div class="col-7">
      <div><%= f.text_field :phone_number, autofocus: true %></div>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-3"></div>
    <div class="col-2">
      <div><%= f.label :メールアドレス %></div>
    </div>
    <div class="col-7">
      <div><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-3"></div>
    <div class="col-2">
      <div><%= f.label :会社紹介文 %></div>
    </div>
    <div class="col-7">
      <div><%= f.text_area :introduction, autofocus: true %></div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-3"></div>
    <div class="col-2">
      <div></div>
    </div>
    <div class="col-4">
      <div><%= f.submit "編集内容を保存", class: 'px-5 btn btn-success' %></div>
    </div>
  </div>

<%end%>