<div class="row">
  <dic class="col-4"></dic>
  <div class="search_form col-4">
    <%= form_with url: transport_companies_path, local: true, method: :get do |f| %>
      <%= f.text_field :word, placeholder:"会社名を記入" %>
      <%= f.hidden_field :search, :value => "partial_match" %>
      <%= f.select :range, options_for_select([["会社名","name"], ["住所","adress"]]) %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-10">
    <% if @word_error.present? %>
      <h3>”<%= @word_error %>”で一致する会社はありません。</h3>
    <% elsif @word.present? %>
      <h3>”<%= @word %>”での検索結果</h3>
    <% end %>
    </div>
  </div>
  <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">名前</th>
      <th scope="col">郵便番号</th>
      <th scope="col">住所</th>
      <th scope="col">電話番号</th>
    </tr>
  </thead>
  <tbody>
    <% @transport_companies.each do |transport_company| %>
    <tr>
      <th scope="row"><%= @number %></th>
      <td>
        <%= link_to transport_company_path(transport_company) do %>
          <%= transport_company.name %>
        <% end %>
      </td>
      <td><%= transport_company.postal_code %></td>
      <td><%= transport_company.address %></td>
      <td><%= transport_company.phone_number %></td>
    </tr>
    <% @number += 1 %>
    <% end %>
  </tbody>
</table>
<%= paginate @transport_companies %>
</div>