
  <div class="row">
    <div class="col-2">
      <%= link_to "レビュー一覧へ", admin_company_reviews_path(params[:company_id]) %>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">目的</th>
            <td><%= @review.objective_i18n %></td>
          </tr>
          <tr>
            <th scope="row">方法</th>
            <td><%= @review.method %></td>
          </tr>
          <tr>
            <th scope="row">荷物</th>
            <td><%= @review.baggage %></td>
          </tr>
          <tr>
            <th scope="row">車両</th>
            <td><%= @review.vehicle %></td>
          </tr>
          <tr>
            <th scope="row">受付時間</th>
            <td><%= @review.reception_time %></td>
          </tr>
          <tr>
            <th scope="row">並び方</th>
            <td><%= @review.order %></td>
          </tr>
          <tr>
            <th scope="row">待機場所</th>
            <td><%= @review.waiting_place %></td>
          </tr>
          <tr>
            <th scope="row">その他共有事項</th>
            <td><%= @review.other %></td>
          </tr>
          <tr>
            <% if @review.deletion == true %>
            <td>
              <%= form_with model: [@company, @review], url: admin_company_review_path(@company.id, @review.id), method: :patch do |f| %>
                <%= f.hidden_field :deletion, :value => false %>
                <%= f.submit "違反ではない" %>
              <% end %>
            </td>
            <% elsif @review.deletion == false %>
            <td>
              <%= form_with model: [@company, @review], url: admin_company_review_path(@company.id, @review.id), method: :patch do |f| %>
                <%= f.hidden_field :deletion, :value => true %>
                <%= f.submit "違反レビュー" %>
              <% end %>
            </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-5">
      <% @review_comments.each do |review_comment| %>
        <div>
          <p><%= review_comment.comment %>　<%= review_comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %>　<%= "違反コメント" if review_comment.deletion == true %></p>
          <p class-"sentiment-score"><%= review_comment.score %></p>
          <% if review_comment.deletion == false %>
          <P>
            <%= form_with model: [@company, @review, review_comment], url: admin_company_review_review_comment_path(@company.id, @review.id, review_comment.id), method: :patch do |f| %>
              <%= f.hidden_field :deletion, :value => true %>
              <%= f.submit "違反にする" %>
            <% end %>
          </P>
          <% elsif review_comment.deletion == true %>
          <P>
            <%= form_with model: [@company, @review, review_comment], url: admin_company_review_review_comment_path(@company.id, @review.id, review_comment.id), method: :patch do |f| %>
              <%= f.hidden_field :deletion, :value => false %>
              <%= f.submit "違反ではない" %>
            <% end %>
          </P>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
