<div class="container">
  <div class="row">
    <div class="col-6">
    <%= link_to "レビューを書く", new_company_review_path %>
    </div>
    <div class="col-6">
      <%= link_to "会社ページへ戻る", company_path(params[:company_id]) %>
    </div>
  </div>
    <%= form_with url: company_reviews_path, local: true, method: :get do |f| %>
    <div class="form-check form-check-inline">
      <%= f.radio_button :search, 0 %>
      <%= f.label :objective_wholesale, Review.objectives_i18n[:wholesale] %>
    </div>
    <div class="form-check form-check-inline">
      <%= f.radio_button :search, 1 %>
      <%= f.label :objective_loading, Review.objectives_i18n[:loading] %>
    </div>
    <div class="form-check form-check-inline">
      <%= f.radio_button :search, 2 %>
      <%= f.label :objective_other, Review.objectives_i18n[:other] %>
    </div>
    <div class="form-check form-check-inline">
      <%= f.radio_button :search, 3 %>
      <%= f.label :すべて %>
    </div>
    <div class="form-check form-check-inline">
      <%= f.submit "検索" %>
    </div>
    <% end %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">目的</th>
      <th scope="col">投稿日時</th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
      <% if review.deletion == true %>
      <tr>
        <td>
          管理者から違反レビューと診断されました
        </td>
      </tr>
      <% elsif review.deletion == false %>
      <tr>
        <td>
          <%= link_to company_review_path(company_id: review.company.id, id: review.id) do %>
            <%= review.objective_i18n %>
          <% end %>
        </td>
        <td><%= review.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>