<div class="container">
  <div class="row">
    <%= link_to "新規登録", new_company_path %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">会社名</th>
        <th scope="col">郵便番号</th>
        <th scope="col">住所</th>
        <th scope="col">電話番号</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @companies.each do |company| %>
      <tr>
        <td>
          <%= link_to company_path(company.id) do %>
            <%= company.name %>
          <% end %>
        </td>
        <td>〒<%= company.postal_code %></td>
        <td><%= company.address %></td>
        <td><%= company.phone_number %></td>
        <td>
          <% if company.bookmarks.exists?(driver_id: current_driver.id) %>
          <% bookmark = Bookmark.find_by(driver_id: current_driver.id, company_id: company.id) %>
            <%= link_to "ブックマークから外す", bookmark_path(bookmark), method: :delete %>
          <% else %>
            <%= form_with model: @bookmark, url: bookmarks_path, method: :post do |f| %>
              <%= f.hidden_field :driver_id, :value => current_driver.id %>
              <%= f.hidden_field :company_id, :value => company.id %>
              <%= f.submit "ブックマークする" %>
            <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>