<%= render 'layouts/error', model: @company %>
<%= form_with model: @company, url: companies_path, local:true, method: :post do |f| %>
  <div class="row mb-5">
    <div class="col-1">
      <div></div>
    </div>
    <div>
      <h5 style="background-color:#f4f4f4">　会社新規登録　</h5>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-2">
      <div><%= f.label :会社画像 %></div>
    </div>
    <div class="col-2">
      <div><%= f.file_field :profile_image, accept: "image/*", autofocus: true %></div>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-2">
      <div><%= f.label :会社名＃必須 %></div>
    </div>
    <div class="col-2">
      <div><%= f.text_field :name, autofocus: true %></div>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-2">
      <div><%= f.label :郵便番号 %></div>
    </div>
    <div class="col-2">
      <div><%= f.text_field :postal_code, autofocus: true %></div>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-2">
      <div><%= f.label :住所＃必須 %></div>
    </div>
    <div class="col-2">
      <div><%= f.text_field :address, autofocus: true %></div>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-2">
      <div><%= f.label :電話番号 %></div>
    </div>
    <div class="col-10">
      <div><%= f.text_field :phone_number, autofocus: true %></div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-2">
      <div></div>
    </div>
    <div class="col-4">
      <div><%= f.submit "新規登録", class: 'px-5 btn btn-success' %></div>
    </div>
  </div>
<%end%>