<div class="container">
  <div class="row">
    <div class="col-5">
      <%= image_tag @company.get_profile_image(200,200) %>
    </div>
    <div class="col-7">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">会社名</th>
            <td><%= @company.name %></td>
          </tr>
          <tr>
            <th scope="row">住所</th>
            <td><%= @company.address_display %></td>
          </tr>
          <tr>
            <th scope="row">電話番号</th>
            <td><%= @company.phone_number %></td>
          </tr>
          <tr>
            <td>
              <% if @company.bookmarks.exists?(driver_id: current_driver.id) %>
              <% bookmark = Bookmark.find_by(driver_id: current_driver.id, company_id: @company.id) %>
                <%= link_to "ブックマークから外す", bookmark_path(bookmark), method: :delete %>
              <% else %>
                <%= form_with model: @bookmark, url: bookmarks_path, method: :post do |f| %>
                  <%= f.hidden_field :driver_id, :value => current_driver.id %>
                  <%= f.hidden_field :company_id, :value => @company.id %>
                  <%= f.submit "ブックマークする" %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to company_reviews_path(@company) do %>
                レビュー数:<%= @company.reviews.count %>
              <% end %>
            </td>
            <td><%= link_to "レビューを書く", new_company_review_path(@company) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>