
  <div class="row">
    <div class="col-5">
      <%= image_tag @company.get_profile_image(200,200) %>
    </div>
    <div class="col-7">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">会社名</th>
            <td><%= @company.name %></td>
          </tr>
          <tr>
            <th scope="row">住所</th>
            <td><%= @company.address_display %></td>
          </tr>
          <tr>
            <th scope="row">電話番号</th>
            <td><%= @company.phone_number %></td>
          </tr>
          <tr>
            <td class="btn_<%= @company.id%>">
              <%= render 'public/bookmarks/btn', company: @company %>
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to company_reviews_path(@company) do %>
                レビュー数:<%= @company.reviews.count %>
              <% end %>
            </td>
            <td><%= link_to "レビューを書く", new_company_review_path(@company), class:"btn btn-info btn-sm" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
