<div class="container">
  <% if transport_company_signed_in? %>
  <div class="row">
    <%= link_to "退職者とのDMルーム一覧", rooms_path %>
  </div>
  <% end %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">名前</th>
      <th scope="col">電話番号</th>
      <th scope="col">DMルーム</th>
    </tr>
  </thead>
  <tbody>
    <% @drivers.each do |driver| %>
    <tr>
      <th scope="row"><%= @number %></th>
      <td><%= driver.name %></td>
      <td><%= driver.phone_number %></td>
      <% room = Room.find_by(driver_id: driver.id) %>
      <td><%= link_to "DMルームへ", room_path(room.id) %></td>
    </tr>
    <% @number += 1 %>
    <% end %>
  </tbody>
</table>
</div>