
  <div class="row d-flex">
    <div class="col-xl-6 col-xs-12 my-2">
      <h3><%= @driver.name %>さんのマイページ</h3>
    </div>
    <div class="col-xl-2 col-xs-12 my-2 justify-content-end">
      <span>
        所属会社：
      </span>
    </div>
    <div class="col-xl-4 my-2">
        <% if @driver.transport_company_id == nil %>
          <span>無所属</span>
        <% else %>
          <%= link_to transport_company_path(@driver.transport_company.id) do %>
            <span><%= @driver.transport_company.name %></span>
          <% end %>
        <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-5">
      <%= image_tag @driver.get_profile_image(200,200) %>
    </div>
    <div class="col-xl-7">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">名前</th>
            <td><%= @driver.name %></td>
          </tr>
          <% if transport_company_signed_in? && @driver.transport_company_id == current_transport_company.id || driver_signed_in? && @driver.id == current_driver.id %>
          <tr>
            <th scope="row">電話番号</th>
            <td><%= @driver.phone_number %></td>
          </tr>
          <% end %>
          <tr>
            <th scope="row">自己紹介文</th>
            <td><%= @driver.introduction %></td>
          </tr>
          <tr>
            <th scope="row">所持免許</th>
            <td>
            <% if @driver.possession_licenses.exists? %>
              <% @driver.possession_licenses.each do |possession_license| %>
                <%= possession_license.license.name %>
              <% end %>
            <% end %>
            </td>
          </tr>
          <% if driver_signed_in? %>
          <tr>
            <td>
              <%= link_to "免許一覧へ", licenses_path %>
            </td>
            <td>
              <%= link_to bookmarks_path do %>
                ブックマーク：<%= @driver.bookmarks.count %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to "情報編集", edit_driver_path(@driver.id) %>
            </td>
          </tr>
          <% end %>
          <% if @driver.rooms.exists? %>
          <tr>
            <% unless @driver.transport_company_id == nil %>
            <td>
              <% room = Room.find_by(driver_id: @driver.id, transport_company_id: @driver.transport_company.id) %>
              <% if driver_signed_in? %>
                <%= link_to "所属会社とのDMルームへ", room_path(room.id) %>
              <% elsif transport_company_signed_in? %>
                <%= link_to "DMルームへ", room_path(room.id) %>
              <% end %>
            </td>
            <% end %>
          </tr>
          <% end %>
          <% if driver_signed_in? %>
            <tr>
              <td>
                <%= link_to "お問い合わせ履歴", contacts_path %>
              </td>
            </tr>
            <tr>
              <td>
                <%= form_with model: Contact.new, data: { confirm: '本当に退会を申請しますか？' }, url: contacts_path, method: :post do |f| %>
                  <%= f.hidden_field :text, :value => "退会を申請します。" %>
                  <%= f.hidden_field :contactable_id, :value => current_driver.id %>
                  <%= f.hidden_field :contactable_type, :value => "driver" %>
                  <%= f.submit "退会申請", class:"btn btn-danger" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
