<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Truckers_High</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', :media => 'all' %>
  </head>

  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">

        <% if admin_signed_in? %>
          <h1 class="mx-2 fs-4"><a class="navbar-brand p-3" href="/admin"><%= image_tag('logo.png') %></a></h1>
        <% else %>
          <% if driver_signed_in? %>
            <h1 class="mx-2 fs-4">
              <%= link_to driver_path(current_driver.id),class:"navbar-brand p-3" do %>
                <%= image_tag('logo.png') %>
              <% end %>
            </h1>
          <% elsif transport_company_signed_in? %>
            <h1 class="mx-2 fs-4">
              <%= link_to transport_company_path(current_transport_company.id),class:"navbar-brand p-3" do %>
                <%= image_tag('logo.png') %>
              <% end %>
            </h1>
          <% else %>
            <h1 class="mx-2 fs-4"><a class="navbar-brand p-3" href="/"><%= image_tag('logo.png') %></a></h1>
          <% end %>
        <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ml-auto" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if transport_company_signed_in? %>
              <li class="nav-item mx-3 text-muted">
                <%= link_to "マイページ", transport_company_path(current_transport_company), class:"nav-link text-secondary" %>
              </li>
              <li class="nav-item mx-3 text-muted">
                <%= link_to "所属運転手一覧", drivers_path, class:"nav-link text-secondary" %>
              </li>
              <% if current_transport_company.exsits_uncheck_messages? %>
              <li class="nav-item mx-3 text-muted">
                <%= link_to "未読あり", drivers_path, class:"nav-link text-danger" %>
              </li>
              <% end %>
              <li class="nav-item mx-3 text-muted">
                <%= link_to "ログアウト", destroy_transport_company_session_path, method: :delete, class:"nav-link text-secondary" %>
              </li>
              <% elsif driver_signed_in? %>
              <% room_driver = Room.find_by(driver_id: current_driver.id, transport_company_id: current_driver.transport_company_id) %>
              <li class="nav-item mx-3 text-muted">
                <%= link_to "マイページ", driver_path(current_driver), class:"nav-link text-secondary" %>
              </li>
              <li class="nav-item mx-3 text-muted">
                <%= link_to "会社一覧", companies_path, class:"nav-link text-secondary" %>
              </li>
              <li class="nav-item mx-3 text-muted">
                <%= link_to "運送会社一覧", transport_companies_path, class:"nav-link text-secondary" %>
              </li>
              <% if current_driver.exsits_uncheck_messages? %>
              <li class="nav-item mx-3 text-muted">
                <%= link_to "未読あり", room_path(room_driver.id), class:"nav-link text-danger" %>
              </li>
              <% end %>
                <% if current_driver.transport_company_id != nil %>
                <li class="nav-item mx-3 text-muted">
                  <%= form_with model: [room_driver,Message.new], url: room_messages_path(room_driver.id), method: :post do |f| %>
                    <%= f.hidden_field :message, :value => "終わりました。" %>
                    <%= f.hidden_field :messageable_type, :value => "Driver" %>
                    <%= f.hidden_field :messageable_id, :value => current_driver.id %>
                    <%= f.hidden_field :room_id, :value => room_driver.id %>
                    <%= f.submit "メッセージ：[終わりました]", class:"nav-link btn byn-lg btn-primary btn-block" %>
                  <% end %>
                </li>
                <% end %>
              <li class="nav-item mx-3 text-muted">
                <%= link_to "ログアウト", destroy_driver_session_path, method: :delete, class:"nav-link text-secondary" %>
              </li>
              <% elsif admin_signed_in? %>
              <li class="nav-item mx-3 text-muted">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"nav-link text-secondary" %>
              </li>
              <% end %>
            </ul>
          </div>

      </nav>
    </header>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
