<%= render 'layouts/error', model: @license %>
  <div class="row">
    <h4>免許新規登録</h4>
    <%= form_with model: @license, url: licenses_path, method: :post do |f| %>
      <%= f.text_field :name %>
      <%= f.submit "新規登録" %>
    <% end %>
  </div>
  <div class="row">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="license-btn">
        <%= render 'index', licenses: @licenses, possession_license: @possession_license %>
      </tbody>
    </table>
    <%= paginate @licenses %>
  </div>
